<% content_for(:title) do %><%= @holiday %><% end %>

<h1><%= l(build_date(@holidays.first), format: :short) %></h1>

<% @holidays.each do |h| %>
  <h3><%= h.description %></h3>
<% end %>

<hr class="intro-divider">
<ul class="list-inline intro-social-buttons">
  <li>
    <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=<%= request.original_url %>"
        class="btn btn-default btn-lg"
        target="_blank">
      <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/share?text=<%= @holidays.first %> - &amp;url=<%= request.original_url %>"
      class="btn btn-default btn-lg"
      target="_blank">
      <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
    </a>
  </li>
</ul>
